@charset "UTF-8";

ul li {
  display: table;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  color: #ACAD9C;
}

nav {
  width: 300px;
  float: left;
  padding: 0px 15px 0px 15px;
  background-color: #f6f8fa;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: justify;
  padding: 15px;
  width: 980px;
  margin: 0px auto 0px auto;
}

ul {
  padding: 0px 15px 0px 15px;
}

li {
  margin-top: 16px;
  margin-bottom: 16px;
}

article {
  float: left;
  padding: 0px 15px 15px 0px;
  width: 500px;
  height: 800px;
  overflow: auto;
  margin: 0px 15px 30px 15px;
}

footer {
  display: table-caption;
  width: 600px;
  margin: 20px;
}

.terminal-line {
  background-color: #ACAD9C;
  padding: 15px 15px 15px 15px;
  font-family: monospace;
}

.text-format {
  font-weight: bold;
  display: inline;
}